{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>765 Lab Control Center</h1>
    <p class="lead">The 765 Lab Control Center is avaialble to help view Lab VMstatus and control EC2 Instance State.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TEMP 1</h2>
        <p>
            Place Holder.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TEMP 2</h2>
        <p>Place Holder</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>TEMP 3</h2>
        <p>Place Holer</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
